# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [1]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# Paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=sale'

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions). Hint: use the headers parameter to get the data!

In [3]:
# headers definition
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15" }

In [4]:
# Your code

json = requests.get(url, headers=headers).json()
normalized_data = json_normalize(json)
normalized_data_articles = json_normalize(normalized_data["articles"][0])
normalized_data_articles.head()

,sku,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,amount
0,LE223A054-Q12,710 SUPER SKINNY - Jeans Skinny - meteorite,"[3a, 4a, 6a, 8a, 10a, 12a, 14a, 16a]",levisr-710-super-skinny-jeans-skinny-le223a054...,[{'path': 'LE/22/3A/05/4Q/12/LE223A054-Q12@4.j...,Levi's®,False,"[{'sku': 'LE223A054-Q12', 'url_key': 'levisr-7...","[{'key': 'discountRate', 'value': '-20%', 'tra...",clothing,[],"44,95 €","35,95 €",True,False,True,False,NaN
1,QU124L01Y-M11,SCALY YOUTH - Veste mi-saison - dark green,"[8a, 9a, 12a, 14a, 16a]",quiksilver-scaly-youth-veste-dhiver-qu124l01y-m11,[{'path': 'QU/12/4L/01/YM/11/QU124L01Y-M11@6.j...,Quiksilver,False,"[{'sku': 'QU124L01Y-M11', 'url_key': 'quiksilv...","[{'key': 'discountRate', 'value': 'Jusqu’à -50...",clothing,[],"65,99 €","33,00 €",True,False,True,False,NaN
2,QU124L020-Q11,BICHENO BLOOM YOUTH - Veste mi-saison - black,"[8a, 9a, 12a, 14a, 16a]",quiksilver-bicheno-bloom-youth-veste-dhiver-bl...,[{'path': 'QU/12/4L/02/0Q/11/QU124L020-Q11@8.j...,Quiksilver,False,"[{'sku': 'QU124L020-Q11', 'url_key': 'quiksilv...","[{'key': 'discountRate', 'value': '-20%', 'tra...",clothing,[],"129,99 €","103,99 €",False,False,False,False,NaN
3,NI126K00N-K11,HOODIE CLUB - veste en sweat zippée - midnight...,"[6-7a, 8-9a, 10-11a, 12-13a, 14a]",nike-sportswear-hoodie-club-veste-en-sweat-zip...,[{'path': 'NI/12/6K/00/NK/11/NI126K00N-K11@7.j...,Nike Sportswear,False,"[{'sku': 'NI126K00N-K11', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': 'Jusqu’à -30...",clothing,[],"38,95 €","27,25 €",True,False,True,False,NaN
4,GP024L03G-K11,BABY - Veste d'hiver - bristol blue,"[0-6m, 6-12m, 12-18m]",gap-baby-veste-dhiver-bristol-blue-gp024l03g-k11,[{'path': 'GP/02/4L/03/GK/11/GP024L03G-K11@8.j...,GAP,False,"[{'sku': 'GP024L03G-K11', 'url_key': 'gap-baby...","[{'key': 'discountRate', 'value': '-35%', 'tra...",clothing,[],"39,95 €","25,95 €",False,False,False,False,NaN

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [43]:
# Get the total number of pages
total_number_pages = json["pagination"]["page_count"]

# Your code
dataset = pd.DataFrame()
for index_page in range(0, total_number_pages):
    url= f'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset={84*index_page}&sort=sale'
    json = requests.get(url, headers=headers).json()
    normalized_data = json_normalize(json)
    normalized_data_articles = json_normalize(normalized_data["articles"][0])
    dataset = dataset.append(normalized_data_articles)
    
dataset.head()

,amount,brand_name,delivery_promises,family_articles,flags,is_premium,media,name,price.base_price,price.has_different_original_prices,...,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,sku,tracking_information.impression_beacon,tracking_information.metrigo_impression_urls,tracking_information.source,url_key
0,NaN,Nike Sportswear,[],"[{'sku': 'NI116D04L-Q11', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': 'Jusqu’à -20...",False,[{'path': 'NI/11/6D/04/LQ/11/NI116D04L-Q11@8.j...,COURT BOROUGH MID BOOT WINTERIZED - Chaussures...,NaN,False,...,False,"54,95 €","43,95 €",shoe,"[28, 28.5, 29.5, 30, 31.5, 32, 33.5, 34, 35]",NI116D04L-Q11,https://ccp-et.metrigo.zalan.do/event/sbv?z=9d...,[https://ccp-et.metrigo.zalan.do/event/sbv?z=9...,ccp,nike-sportswear-court-borough-mid-boot-winteri...
1,NaN,Nike Sportswear,[],"[{'sku': 'NI113D08L-A11', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': 'Jusqu’à -20...",False,[{'path': 'NI/11/3D/08/LA/11/NI113D08L-A11@10....,AIR FORCE 1 - Baskets basses - black/wolf grey...,NaN,False,...,False,"79,95 €","63,95 €",shoe,"[35.5, 36, 36.5, 37.5, 38]",NI113D08L-A11,https://ccp-et.metrigo.zalan.do/event/sbv?z=9d...,[https://ccp-et.metrigo.zalan.do/event/sbv?z=9...,ccp,nike-sportswear-air-force-1-baskets-basses-bla...
2,NaN,Nike Sportswear,[],"[{'sku': 'NI114D0C8-Q11', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': 'Jusqu’à -20...",False,[{'path': 'NI/11/4D/0C/8Q/11/NI114D0C8-Q11@8.j...,SHOX R4 BG - Baskets basses - enigma,NaN,False,...,False,"114,95 €","91,95 €",shoe,"[35.5, 36, 36.5, 37.5, 38, 38.5, 39, 40]",NI114D0C8-Q11,https://ccp-et.metrigo.zalan.do/event/sbv?z=9d...,[https://ccp-et.metrigo.zalan.do/event/sbv?z=9...,ccp,nike-sportswear-shox-r4-bg-baskets-basses-enig...
3,NaN,adidas Originals,[],"[{'sku': 'AD116D007-A11', 'url_key': 'adidas-o...","[{'key': 'discountRate', 'value': 'Jusqu’à -30...",False,[{'path': 'AD/11/6D/00/7A/11/AD116D007-A11@12....,STAN SMITH - Baskets basses - white,NaN,False,...,False,"54,95 €","38,45 €",shoe,"[28, 29, 30, 31, 32, 33, 34, 35, 28 1/2, 30 1/...",AD116D007-A11,NaN,NaN,NaN,adidas-originals-stan-smith-baskets-basses-bla...
4,NaN,adidas Originals,[],"[{'sku': 'AD126L00J-Q11', 'url_key': 'adidas-o...","[{'key': 'discountRate', 'value': 'Jusqu’à -35...",False,[{'path': 'AD/12/6L/00/JQ/11/AD126L00J-Q11@8.j...,JACKET - Veste d'hiver - black/white,NaN,False,...,False,"64,95 €","41,95 €",clothing,"[3-4a, 4-5a, 5-6a, 6-7a, 7-8a]",AD126L00J-Q11,NaN,NaN,NaN,adidas-originals-jacket-veste-dhiver-blackwhit...

In [44]:
dataset.shape

(21435, 22)

#### Display the trending brand in DataFrame

In [45]:
# your code

trending_brand = dataset.groupby(["brand_name"]).size()
trending_brand.sort_values(ascending=False).to_frame()

                   0
brand_name
Name it          998
GAP              700
Boboli           669
Benetton         530
Friboo           511
...              ...
Kipling            1
HOMEBASE           1
Eastpak            1
Deuter             1
18CRR81 Cerruti    1

[349 rows x 1 columns]

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [46]:
def replace_currency(x):
    if isinstance(x, str):
        return(x.replace('\xa0€', '').replace(",", "."))
    return(x)

#Our data is still text. Convert prices into numbers.
# your code
dataset['price.original'] = dataset['price.original'].apply(replace_currency).astype('float')
dataset['price.promotional'] = dataset['price.promotional'].apply(replace_currency).astype('float')

dataset['price.max_discount'] = dataset['price.original'] - dataset['price.promotional']


dataset.head()


max_total_discount = dataset.sort_values(by='price.max_discount', ascending=False)
max_total_discount.head()
# Max total discount = original - promotional

,amount,brand_name,delivery_promises,family_articles,flags,is_premium,media,name,price.base_price,price.has_different_original_prices,...,price.original,price.promotional,product_group,sizes,sku,tracking_information.impression_beacon,tracking_information.metrigo_impression_urls,tracking_information.source,url_key,price.max_discount
16,NaN,Emporio Armani,[],"[{'sku': 'AJ223L006-G11', 'url_key': 'armani-j...","[{'key': 'discountRate', 'value': '-45%', 'tra...",False,[{'path': 'AJ/22/3L/00/6G/11/AJ223L006-G11@7.j...,TESSUTO COAT - Manteau classique - rosso,NaN,False,...,364.95,200.95,clothing,"[2a, 9m, 12m, 18m]",AJ223L006-G11,NaN,NaN,NaN,armani-junior-tessuto-coat-manteau-classique-r...,164.0
3,NaN,The North Face,[],"[{'sku': 'TH343F01R-C11', 'url_key': 'the-nort...","[{'key': 'discountRate', 'value': '-60%', 'tra...",False,[{'path': 'TH/34/3F/01/RC/11/TH343F01R-C11@12....,MCMURDO - Doudoune - mottled grey,NaN,False,...,249.95,99.95,clothing,[16a/18a],TH343F01R-C11,NaN,NaN,NaN,the-north-face-mcmurdo-down-parka-doudoune-th3...,150.0
32,NaN,Missoni Kids,[],"[{'sku': 'M4O23F004-K11', 'url_key': 'missoni-...","[{'key': 'discountRate', 'value': '-30%', 'tra...",True,[{'path': 'M4/O2/3F/00/4K/11/M4O23F004-K11@5.j...,DRESS - Robe pull - blue,NaN,False,...,499.95,349.95,clothing,"[4a, 6a, 8a, 10a]",M4O23F004-K11,NaN,NaN,NaN,missoni-kids-dress-robe-pull-blue-m4o23f004-k11,150.0
39,NaN,Kjus,[],"[{'sku': 'KJ143F00J-H11', 'url_key': 'kjus-boy...","[{'key': 'discountRate', 'value': '-50%', 'tra...",False,[{'path': 'KJ/14/3F/00/JH/11/KJ143F00J-H11@10....,BOYS DOWNFORCE JACKET - Veste de ski - orange/...,NaN,False,...,294.95,146.95,clothing,[10a],KJ143F00J-H11,NaN,NaN,NaN,kjus-boys-downforce-jacket-veste-de-ski-orange...,148.0
47,NaN,Missoni Kids,[],"[{'sku': 'M4O23F006-T11', 'url_key': 'missoni-...","[{'key': 'discountRate', 'value': '-30%', 'tra...",True,[{'path': 'M4/O2/3F/00/6T/11/M4O23F006-T11@9.j...,DRESS - Robe pull - multicolour,NaN,False,...,439.95,307.95,clothing,"[4a, 6a, 8a, 10a]",M4O23F006-T11,NaN,NaN,NaN,missoni-kids-dress-robe-pull-multicolour-m4o23...,132.0

#### Display the brands without discount at all

In [47]:
# your code

max_total_discount = dataset.sort_values(by='price.max_discount', ascending=True)
max_total_discount.head()

,amount,brand_name,delivery_promises,family_articles,flags,is_premium,media,name,price.base_price,price.has_different_original_prices,...,price.original,price.promotional,product_group,sizes,sku,tracking_information.impression_beacon,tracking_information.metrigo_impression_urls,tracking_information.source,url_key,price.max_discount
14,NaN,Camper,[],"[{'sku': 'CA313L002-J11', 'url_key': 'camper-c...","[{'key': 'discountRate', 'value': 'Jusqu’à -20...",False,[{'path': 'CA/31/3L/00/2J/11/CA313L002-J11@15....,CAMPER - Chaussons - pink,NaN,True,...,40.00,40.00,shoe,"[28, 31, 32, 33]",CA313L002-J11,NaN,NaN,NaN,camper-camper-mules-pink-ca313l002-j11,0.0
40,NaN,Petrol Industries,[],"[{'sku': 'P6824G07J-G11', 'url_key': 'petrol-i...","[{'key': 'discountRate', 'value': 'Jusqu’à -42...",False,[{'path': 'P6/82/4G/07/JG/11/P6824G07J-G11@4.j...,Polo - fiery coral,NaN,True,...,19.95,19.95,clothing,"[8a, 10a, 12a, 14a, 16a]",P6824G07J-G11,NaN,NaN,NaN,petrol-industries-polo-fiery-coral-p6824g07j-g11,0.0
41,NaN,Petrol Industries,[],"[{'sku': 'P6824C01L-K11', 'url_key': 'petrol-i...","[{'key': 'campaign', 'value': 'PRIX MINI', 'tr...",False,[{'path': 'P6/82/4C/01/LK/11/P6824C01L-K11@4.j...,Short en jean - deep blue sea,NaN,True,...,30.95,30.95,clothing,"[8a, 10a, 12a, 14a, 16a]",P6824C01L-K11,NaN,NaN,NaN,petrol-industries-short-en-jean-deep-blue-sea-...,0.0
42,NaN,Petrol Industries,[],"[{'sku': 'P6824G07T-A11', 'url_key': 'petrol-i...","[{'key': 'discountRate', 'value': 'Jusqu’à -16...",False,[{'path': 'P6/82/4G/07/TA/11/P6824G07T-A11@2.j...,T-shirt imprimé - bright white,NaN,True,...,15.95,15.95,clothing,"[6a, 10a, 12a, 14a, 16a]",P6824G07T-A11,NaN,NaN,NaN,petrol-industries-t-shirt-imprime-bright-white...,0.0
43,NaN,Petrol Industries,[],"[{'sku': 'P6824C01K-K12', 'url_key': 'petrol-i...","[{'key': 'campaign', 'value': 'PRIX MINI', 'tr...",False,[{'path': 'P6/82/4C/01/KK/12/P6824C01K-K12@5.j...,Short - deep navy,NaN,True,...,26.95,26.95,clothing,"[8a, 10a, 12a, 14a, 16a]",P6824C01K-K12,NaN,NaN,NaN,petrol-industries-short-deep-navy-p6824c01k-k12,0.0